<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>My transfers</title>
    <!-- Bootstrap core CSS-->
    <link href="/resources/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="/resources/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="/resources/css/sb-admin.css" rel="stylesheet">
    <!-- Bootstrap core JavaScript-->
    <script src="/resources/vendor/jquery/jquery.min.js"></script>
    <script src="/resources/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="/resources/vendor/jquery-easing/jquery.easing.min.js"></script>
</head>

<body class="bg-dark">
<div class="container">
    <a class="float-right text-light" th:href="@{/my_account/home}">Main menu</a>
    <h1 class="text-light text-center mx-auto mt-5">My transfers</h1>
    <ul class="list-group">
        <th:block th:each="transfer : ${transfers}">
            <li class="list-group-item  my-3">
                <h3 class="text-info mb-2">Transfer</h3>
                <h5 th:text="${'Amount: ' + transfer.amount}"></h5>
                <p th:text="${'Receiver: ' + transfer.receiver}">receiver</p>
                <small th:text="${'Account number: ' + transfer.accountNumber}">account number</small>
            </li>
        </th:block>
    </ul>
</div>

</body>

</html>
