<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Transfer preview</title>
    <!-- Bootstrap core CSS-->
    <link href="/resources/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="/resources/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="/resources/css/sb-admin.css" rel="stylesheet">
    <!-- Bootstrap core JavaScript-->
    <script src="/resources/vendor/jquery/jquery.min.js"></script>
    <script src="/resources/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="/resources/vendor/jquery-easing/jquery.easing.min.js"></script>
</head>

<body class="bg-dark">
<div class="container">
    <h1 class="text-light text-center mx-auto mt-5">Transfer done</h1>
    <th:block class="mx-auto my-5"  th:object="${transferForm}">
        <div class="card mx-auto mt-5">
            <div class="card-header">Transfer done with following data</div>
            <div class="card-body">
                <h4 class="card-title" id="receiver" th:text="${'Transfer to:' + transferForm.receiver}">transfer to</h4>
                <h5 class="card-text" id="accountNumber" th:text="${'Account number:' + transferForm.accountNumber}">acc number</h5>
                <p class="card-text" id="amount" th:text="${'Amount:' + transferForm.amount}">amount</p>
            </div>
        </div>
        <div class="text-center">
            <div class="btn-group text-center btn-group-lg mx-auto my-4" role="group" aria-label="Basic example">
                <a class="btn btn-light" th:href="@{/my_account/home}">Go to main menu</a>
            </div>
        </div>
    </th:block>
</div>

</body>

</html>
